body {
    margin: 0;
}

#xfly_viewport {
    background-color: #f2f2f2;
    color: black;
    height: 100%;
}

.page-ui a {
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    border: none;
    color: inherit;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .1);
    background-color: white;
    margin-top: 16px;
    text-decoration: none;
}

header {
    background: black;
    color: white;
    height: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    font-size: 1.8rem;
}

header h1 {
    display: inline-block;
    font-size: 2.2rem;
    line-height: 30px;
    height: 30px;
    margin: auto;
    width: 100%;
}

.page-ui {
    margin: 16px;
}

.src-expand {
    display: inline-block;
    border: white solid 1px;
    border-radius: 4px;
    background: white;
    /* float: right; */
    font-size: 0.6rem;
    padding: 0 8px;
    margin: 15px;
    position: absolute;
    font-style: normal;
    color: black;
    height: 30px;
    line-height: 30px;
    right: 0;
    text-decoration: none;
}